<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Police d'écriture -->
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <!-- Fichier CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        {% block links %}{% endblock %}        
    </head>
    <body>
        <!-- Entête de la page web -->
        <header class="page-header">
            <div id="connexion">
                <a href="{{ url_for('user_connexion')}}" id="a_connexion"> Connection </a>
            </div>

            <h1><a href="{{ url_for('index') }}" id="titre">Hear Blow</a></h1>
            <!-- Bloc de navigation -->
            <nav>
                <div>
                    <ul id="menu">
                        <li class="menu_item"><a href="#association" class="bouton_menu">L'Association</a></li>
                        <li class="menu_item"><a href="#missions" class="bouton_menu">Nos Missions</a></li>
                        <li class="menu_item"><a href="#actualite" class="bouton_menu">Notre Actualité</a></li>
                        <li class="menu_item"><a href="{{ url_for('contact') }}" class="bouton_menu">Nous Contacter</a></li>
                    </ul>
                </div>
            </nav>

            {% block boutondon %}{% endblock %}

        </header>
        <section >
            {% block content %} {% endblock %}
        </section>
    </body>
</html>